body{
font-family:Arial;
background:url(https://static.vecteezy.com/system/resources/thumbnails/033/351/258/small/beautiful-bright-wallpaper-nature-background-ai-generated-photo.jpg);
background-size: cover;

}
.container{
width:300px;
margin:100px auto;
background:rgb(235, 186, 237);
padding:20px;
border-radius:10px;
text-align:center;

.container a {
    display: inline-block;
    text-decoration: none;
    background-color: #8b058d;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    font-size: 18px;
    border-radius: 8px;
    transition: 0.3s;
}

}
input{
width:90%;
padding:10px 20px;
margin:10px auto;
align-items: center;
}
button{
padding:10px 20px;
background:rgb(225, 158, 218);
color:white;
border:none;
text-align: center;
margin: 10px auto;;

}
 